<form class="row">
  <mat-form-field appearance="fill" class="col-md-10">
    <mat-label>Selecione o ano de referência</mat-label>
    <mat-select [(ngModel)]="meses">
      <mat-option [value]="referencia?.meses" *ngFor="let referencia of referencias">
        {{ referencia?.anoReferencia || 'Todos' }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="col-md-2">
    <button color="primary" mat-raised-button style="height: 52px;" (click)="openModalContaBancaria()">
      Adicionar Conta Bancaria
    </button>
  </div>
</form>

<div class="mat-elevation-z8" [hidden]="!meses.length">
  <table mat-table [dataSource]="meses">

    <ng-container matColumnDef="anoReferencia">
      <th mat-header-cell *matHeaderCellDef> Ano Referência </th>
      <td mat-cell *matCellDef="let element"> {{ element.anoReferencia}} </td>
    </ng-container>

    <ng-container matColumnDef="mesReferencia">
      <th mat-header-cell *matHeaderCellDef> Mês Referência </th>
      <td mat-cell *matCellDef="let element"> {{ element.mesReferencia}} </td>
    </ng-container>

    <ng-container matColumnDef="totalRetirado">
      <th mat-header-cell *matHeaderCellDef> Total Retirado </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{
        'text-success': element.saldo > 0,
        'text-danger': element.totalRetirado < 0,
        'text-warning': element.totalRetirado == 0
      }">
        {{ element.totalRetirado | currency }}
      </td>
    </ng-container>

    <ng-container matColumnDef="totalDepositado">
      <th mat-header-cell *matHeaderCellDef> Total Depositado </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{
        'text-success': element.saldo > 0,
        'text-danger': element.totalDepositado < 0,
        'text-warning': element.totalDepositado == 0
      }"> {{ element.totalDepositado | currency }} </td>
    </ng-container>

    <ng-container matColumnDef="saldo">
      <th mat-header-cell *matHeaderCellDef> Saldo </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{
        'text-success': element.saldo > 0,
        'text-danger': element.saldo < 0,
        'text-warning': element.saldo == 0
      }"> {{ element.saldo | currency }} </td>
    </ng-container>

    <ng-container matColumnDef="diferencaSaldoAnterior">
      <th mat-header-cell *matHeaderCellDef> Diferência com Saldo Anterior </th>
      <td mat-cell *matCellDef="let element" [ngClass]="{
        'text-success': element.saldo > 0,
        'text-danger': element.diferencaSaldoAnterior < 0,
        'text-warning': element.diferencaSaldoAnterior == 0
      }"> {{ element.diferencaSaldoAnterior | currency }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button aria-label="Gerenciar Contas Bancarias" matTooltip="Extrato"
          [routerLink]="[element.id, 'extrato']">
          <mat-icon>account_balance_wallet</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>